<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.AdminMapper">

    <select id="selectUsername" resultType="com.example.springboot.domain.Admin">
        select * from admin where username=#{username}
    </select>

    <select id="listByStudent" resultType="com.example.springboot.model.dto.StudentAndClass">
        SELECT s.id, c.class_name as className, m.major_name as majorName, username, password, nickname, email, phone, address, age, sex, number
        FROM student s, class c, major m
        WHERE s.class_id = c.id
        AND s.major_id = m.id
        <if test="number != null and number != ''">
            AND number LIKE CONCAT('%', #{number}, '%')
        </if>
    </select>

    <select id="listByTeacher" resultType="com.example.springboot.model.dto.TeacherAndClass">
        select t.id,c.class_name as className,username,password,nickname,role_id from teacher t,class c
        where t.class_id = c.id
            <if test="nickname != null and nickname!= ''">
                and nickname like concat('%', #{ nickname }, '%')
            </if>
    </select>
</mapper>
