<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.domain.Book">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="publishDate" column="publish_date" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="bookNo" column="book_no" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updatetime" jdbcType="TIMESTAMP"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="nums" column="nums" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listByCondition" resultType="com.example.springboot.domain.Book">
        select * from book
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{ name }, '%')
            </if>
            <if test="bookNo != null and bookNo != ''">
                name like concat('%', #{ book_no }, '%')
            </if>
        </where>
        order by id desc

    </select>

    <insert id="save">
        insert into category(name, remark)
        values(#{name}, #{remark})
    </insert>

    <update id="updateById">
        update category set name = #{name}, remark = #{remark}, updatetime = #{updatetime} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>

    <select id="getById" resultType="com.example.springboot.domain.Category">
        select * from category where id = #{id}
    </select>
</mapper>
