<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ClassScheduleMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.domain.ClassSchedule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="section" column="section" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIME"/>
            <result property="endTime" column="end_time" jdbcType="TIME"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,section,start_time,
        end_time
    </sql>
</mapper>
