<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.TeacherMapper">

    <select id="selectUsername" resultType="com.example.springboot.domain.Teacher">
        select * from teacher where username=#{username}
    </select>

    <select id="getAllTeachersByNickname" resultType="com.example.springboot.domain.Teacher">
        SELECT id,nickname FROM teacher where role_id = 0
    </select>

    <select id="getAllClasses" resultType="com.example.springboot.model.dto.ClassDeskMessage">
        SELECT DISTINCT s.id,s.nickname, s.number
        FROM student s
                 JOIN class c ON s.class_id = c.id
                 JOIN teacher t ON c.id = t.class_id
        WHERE s.class_id = t.class_id
        ORDER BY s.number

    </select>

    <insert id="insertTeacher">
        INSERT INTO teacher (username, nickname, password)
        VALUES (#{username},#{nickname},#{password})
    </insert>

    <insert id="save">
        INSERT INTO teacher (username, password, role_id)
        VALUES (#{username},#{password},#{roleId})
    </insert>
</mapper>
